<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <connectionStrings>
      <add name="conString" connectionString="Data Source=localhost;Initial Catalog=Password_sc;Integrated Security=True"
           providerName="System.Data.sqlClient"/>
    </connectionStrings> 

  </configSections>
</configuration>